<!-- carousel -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="active item one"></div>
    <div class="item two"></div>
    <div class="item tree"></div>
  </div>
</div>
<!-- /carousel -->