<!-- carousel -->
<div id="all_carousel">
  <!-- menu -->
  <div id="carousel_menu" class="carousel slide">
    <div class="carousel-inner">
      <div class="active item _1"></div>
      <div class="item _2"></div>
      <div class="item _3"></div>
    </div>
  </div>
  <!-- final de obras -->
  <div id="carousel_final-de-obras" class="slide">
    <div class="carousel-inner">
      <div class="active item _4"></div>
      <div class="item _5"></div>
    </div>
  </div>
  <!-- final de eventos -->
  <div id="carousel_final-de-eventos" class="slide">
    <div class="carousel-inner">
      <div class="active item _6"></div>
      <div class="item _7"></div>
    </div>
  </div>
  <!-- vidrios -->
  <div id="carousel_vidrios" class="slide">
    <div class="carousel-inner">
      <div class="active item _8"></div>
      <div class="item _9"></div>
    </div>
  </div>
  <!-- vidrios -->
  <div id="carousel_oficinas" class="slide">
    <div class="carousel-inner">
      <div class="active item _10"></div>
      <div class="item _11"></div>
    </div>
  </div>
  <!-- vidrios -->
  <div id="carousel_especiales" class="slide">
    <div class="carousel-inner">
      <div class="active item _12"></div>
      <div class="item _13"></div>
    </div>
  </div>
</div>