<!-- nav -->
<nav>
  <ul class="nav masthead-nav">
    <li id="Empresa" data-target="#carousel_menu" data-slide-to="0" class="active">
      <a onclick="send(this.href, 'menu')" href="/empresa">Empresa</a></li>
    <li id="Servicios" data-target="#carousel_menu" data-slide-to="1" class="">
      <a onclick="send(this.href, 'menu')" href="/servicios">Servicios</a></li>
    <li id="Clientes" data-target="#carousel_menu" data-slide-to="2" class="">
      <a onclick="send(this.href, 'menu')" href="/clientes">Clientes</a></li>
  </ul>
</nav>
<!-- /nav -->