<div id="form-contact">
	<form action="" method="get">
		<label>Nombre</label>
		<input type="text" value="">
		<label>Email</label>
		<input type="email" value="">
		<label>Telefono</label>
		<input type="text" value="">
		<label>Mensaje</label>
		<textarea></textarea><br>
		<input type="submit" class="btn btn-primary btn-block" value="Enviar">
		<br>
	</form>
</div>