<!-- location-contacto -->
<div id="location-wrap" class="location">
	<%= include location.ejs %>
</div>
<div id="contacto-wrap" class="location">
	<%= include contact.ejs %>
</div>
<div class="content-btn">
	<a href="https://www.facebook.com/higiemax.pigue" target="_blank" id="btn-face" class="_btn-footer"></a>
	<div onclick="showhide('contacto-wrap')" id="btn-contact" class="_btn-footer"></div>
	<div onclick="showhide('location-wrap')" id="btn-location" class="_btn-footer"></div>
</div>
<!-- /location-contacto -->